name: Build
concurrency:
  group: "build"
  cancel-in-progress: false

on:
  push:
    branches:
      - master
    paths:                      # only run if THESE paths change [web:1][web:2]
      - 'src/**'                # folder: src/ [web:1][web:8]
      - '.github/**'            # folder: .github/ (includes workflows & build scripts) [web:1][web:8]
      - 'gradlew'               # file: gradlew [web:1][web:2]
      - 'gradle.properties'     # file: gradle.properties [web:1][web:2]
      - 'build.gradle.kts'      # file: build.gradle.kts [web:1][web:2]
      - 'gradlew.bat'           # file: gradlew.bat [web:1][web:2]
      - 'settings.gradle.kts'   # file: settings.gradle.kts [web:1][web:2]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Set up Node JS
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Get current build number
        id: build-number
        run: |
          cd .github/builds
          npm run --silent get_number >> $GITHUB_OUTPUT

      - name: Build
        run: ./gradlew build -Pcommit=${{ github.sha }} -Pbuild_number=${{ steps.build-number.outputs.number }}


      - name: capture build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/
